@model OTP.ViewModels.ErrorData


<link rel="stylesheet" href="~/lib/MDB-Free/MDB Free/css/style.css" />

<body  class="error-wall">
    <img src="~/images/error.png" style=" margin-left:450px; margin-top:100px; width:500px; height:400px; opacity:0.3" />

    <h1 class="error-message"> @Model.MessageError </h1>

</body>

