<head>
    <link rel="stylesheet" href="~/css/HomeStyle.css" />
</head>

<div class="banner-position">
    <img src="~/images/OIDEAbanner.png" alt="OIDEA"/>
</div>

<div class="icon-1">
    <i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
</div>

<div class="text-info-1">
     <p class="info">
         <b>OIDEA</b> is a simple user - friendly web application designed for compiling and executing projects builded in C, C++ and Python programming languages.     
    </p>
</div>

<div class="icon-2">
    <i class="fa fa-terminal fa-5x" aria-hidden="true"></i>
</div>
<div class="text-info-2">
    <p class="info">
        The projects can be simply accesed using the integrated command line. The command line has interesing options like listing the files form a specific project, open a new file tab, create a file and delete one.
    </p>
</div>

<div class="icon-3">
    <i class="fa fa-github fa-5x" aria-hidden="true"></i>
</div>
<div class="text-info-3">
    <p class="info">
        OIDEA allow users to export their projects and applications to GitHub. All that is need are the user, password and the Github repository and so, the application will copy all of your work on GitHub.
    </p>
</div>

<div class="tutorial">

    <button class="btn btn-default"><a href="https://www.youtube.com/watch?v=Uxzlq-kSG0A">OIDEA TUTORIAL</a></button>

</div>